@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
.firstcard {
  width: 327px;
  height: 360px;
  border-radius: 15px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.buttonWrapper {
  width: 281px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 42px;
  height: 42px;
  background: var(--Dark-Blue, #262e38);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  border-radius: 30px;
  color: var(--Medium-Gray, #7c8798);
  text-align: center;
  font-family: Overpass;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.175px;
  cursor: pointer;
}
.star1 {
  align-self: flex-start;
  margin-left: 21px;
  margin-top: 24px;
}
.button:hover:not(.selected) {
  background: var(--Medium-Gray, #7c8798);
  color: white;
}

.selected {
  background: var(--Orange, #fc7614);
  color: white;
}
@media screen and (1000px < width) {
  .firstcard {
    width: 412px;
    height: 416px;
  }
  .title {
    font-size: 28px;
    width: 340px;
  }
  .text {
    width: 340px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  .buttonWrapper {
    width: 341px;
  }
  .button {
    width: 51px;
    height: 51px;
  }
}
