* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--Very-Dark-Blue, #131518);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
